extends _layout

block content
  .frame
    .container
      .row
        .column
          h2 Verifica cupón
          p El cupón es un código de 5 dígitos que se envía al correo electrónico registrado.
      .row
        .column
          form(action="/dashboard" method="GET")
            fieldset
              label(for="code") Código:
              input(type="number" name="code" id="code" placeholder="Código de 5 dígitos..."  value=code min="0" inputmode="numeric" pattern="[0-9]*")
              input.button-primary(type="submit" value="Verificar")
      if status
        .row
          .column
            blockquote
              if status == "success"
                p Código reclamado ✅
              else
                p Hubo un error al reclamar el código ❌
      if code
        .row
          .column
            h4 Resultado de la verificación
            if reward
              table
                tbody
                  tr
                    td Código
                    td
                      b= reward.token
                  tr
                    td Recompensa
                    td
                      b= reward.name
                  tr
                    td Estado
                    td
                      b= reward.redeemed ? 'Reclamado' : 'Sin reclamar'
                  unless reward.redeemed
                    tr
                      td(colspan="2")
                        form(action="/dashboard" method="POST")
                          input(type="hidden" name="code" value=reward.token)
                          input.button-primary(type="submit" value="Reclamado")
            else
              p
                b El código no existe ❌
